* {
  text-align: center;
}

.display-box {
  text-align: center;
  border: 1px solid black;
  color: blue;
  padding: 10px;
  margin: 5px;
  list-style-type: none;
}

.list-elements {
  padding: 4px;
  margin: 5px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-elements span {
  margin-right: 5px; 
}
